.imageHome {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, .6)), url(../../public/images/banner-home.png);
    height: 80vh;
    background-size: cover;
    background-position: center;
}

.slogan {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: relative;
    top: 9rem;
    h1 {
        margin: 0;
        font-size: 4rem;
        color: white;
    }

    h2 {
        margin: 0;
        color: white;
        font-size: 5.5rem;
    }
}