.services {
    &Cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }
    &StyleCards {
        border: 1px solid rgb(224, 224, 224);
        height: 380px;
        width: 380px;
        margin: auto;
        text-align: center;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        padding: 1rem;

        > div:first-child {
            font-weight: bold;
        }
    }

    h1 {
        text-align: center;
    }
}