.services {
    &Cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }
    &StyleCards {
        border: 1px solid rgb(170, 168, 168);
        height: 450px;
        width: 450px;
        margin: auto;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    h1 {
        text-align: center;
    }
}